#Giang123 {
    width: 19%;
    height: 40px;
    color: white;
    background-image: linear-gradient(0deg, rgb(155, 22, 22), black);
    font-size: 20px;
}

#Giang1234 {
    width: 19%;
    height: 40px;
    color: white;
    background-image: linear-gradient(0deg, rgb(155, 22, 22), black);
    font-size: 20px;
}

#Giang12345 {
    width: 19%;
    height: 40px;
    color: white;
    background-image: linear-gradient(0deg, rgb(155, 22, 22), black);
    font-size: 20px;
}

#Giang123456{
    width: 19%;
    height: 40px;
    color: white;
    background-image: linear-gradient(0deg, rgb(155, 22, 22), black);
    font-size: 20px;
}

#Giang1234567{
    width: 19%;
    height: 40px;
    color: white;
    background-image: linear-gradient(0deg, rgb(155, 22, 22), black);
    font-size: 20px;
}



#Hoang1 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang12 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang123 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang1234 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang12345 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang19 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang129 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 80px;
}

#Hoang1239 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang12349 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang123459 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang123456 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang1234567 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang12345678 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang123456789 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang1234567890 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang12345678901 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang12345678902 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang12345678903 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang12345678904 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Hoang12345678905 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Anh1 {
    width: 190px;
    height: 100px;
}

#Anh2 {
    width: 190px;
    height: 100px;
}

#Anh3 {
    width: 190px;
    height: 100px;
}

#Anh4 {
    width: 190px;
    height: 100px;
}

#Anh5 {
    width: 190px;
    height: 100px;
}

#Anh6 {
    width: 190px;
    height: 100px;
}

#Anh7 {
    width: 190px;
    height: 100px;
}

#Anh8 {
    width: 190px;
    height: 100px;
}

#Anh9 {
    width: 190px;
    height: 100px;
}

#Anh10 {
    width: 190px;
    height: 100px;
}

#Anh11 {
    width: 190px;
    height: 100px;
}

#Anh12 {
    width: 190px;
    height: 100px;
}

#Anh13 {
    width: 190px;
    height: 100px;
}

#Anh14 {
    width: 190px;
    height: 100px;
}

#Anh15 {
    width: 190px;
    height: 100px;
}

#Meet2 {
    color: white;
    background-image: linear-gradient(0deg, rgb(155, 22, 22), black);
    font-size: 25px;
    margin-left: 373px;
}

#Meet3 {
    width: 190px;
    color: white;
    background-image: linear-gradient(0deg, rgb(155, 22, 22), black);
    font-size: 25px;
}

#Meet21 {
    color: white;
    background-image: linear-gradient(0deg, rgb(155, 22, 22), black);
    font-size: 25px;
    width: 24%;
    
}

#Meet31 {
    width: 190px;
    color: white;
    background-image: linear-gradient(0deg, rgb(155, 22, 22), black);
    font-size: 25px;
    width: 24%;
}

#rolex1 {
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    width: 228px;
    height: 228px;

}

#Hooang1 {
    width: 33%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 80px;
    
}

#Hooang12 {
    width: 33%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    
}

#Hooang123 {
    width: 33%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    
}

#Patek1 {
    width: 24%;
    height: 35px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
    margin-top: 80px;
}

#Patek2 {
    width: 24%;
    height: 35px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Patek3 {
    width: 24%;
    height: 35px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Patek4 {
    width: 24%;
    height: 35px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Patek5 {
    width: 24%;
    height: 35px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Patek6 {
    width: 24%;
    height: 35px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}


#Patek7 {
    width: 24%;
    height: 35px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Patek8 {
    width: 24%;
    height: 35px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#PatekPhilippe {
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    width: 228px;
    height: 228px;
}

#Long1 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 80px;
}

#Long2 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#Long3 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#Long4 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#Long5 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#Omega1 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 80px;
}

#Omega2 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#Omega3 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#Omega4 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#Omega5 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#tag1 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 80px;
}

#tag2 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#tag3 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#tag4 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#tag5 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
}

#tissot1 {
    width: 24%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
    margin-top: 80px;
}

#tissot12 {
    width: 24%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#Calvin1 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 80px;
}

#ogival12 {
    width: 24%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
    margin-top: 80px;
}

#ogival1 {
    width: 24%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#aud12 {
    width: 33%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
    margin-top: 80px;
}

#aud1 {
    width: 33%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}

#citi1 {
    width: 33%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 80px;
}

#seco12 {
    width: 33%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
    margin-top: 80px;
}

#seco1 {
    width: 33%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 4px;
}


#ori1 {
    width: 19%;
    height: 30px;
    color: white;
    background-image: linear-gradient(0deg, rgb(71, 69, 69), black);
    margin-top: 80px;
}
