*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding:  0 32rem;
}

.container img{
    width: 200px;
    height: 55px;
    margin-left: 5rem;
}
.container form {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 4px;
    width: 100%;
    height: 300px;
}
.row {
    padding: 2rem;
    width: 100%;
    display:inline-block;
}
.row .text-signin h2{
   float: left;
   width: 100%;
}
.row label{
    float: left;
    font-size: .8rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 5px;
    width: 100%;
}
.row input{
    width: 100%;
    padding: .4rem;
    margin-bottom: 10px;
}
.row button {
    width: 100%;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 4px;
    padding: .4rem;
    background-color: rgb(255, 198, 12);
}
.row button:hover{
    background-color: rgb(209, 161, 0);
}
.row .text-info {
    width: 100%;
    float: left;
    font-size: .8rem;
    margin-top: 1.5rem;
}
.row .text-info a{
    text-decoration: none;
}
.row .text-info a:hover{
    text-decoration: underline;
}
.row .text-info i{
    color: rgb(118, 118, 118);
}
.row .text-info i a{
    margin-left: 5px;
}
.fake-input {
    width: 100%;
}
.fake-input a{
    width: 100%;
    background-color: rgb(225, 225, 225);
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: .5rem;
}
.container h6{
    margin-top: 20px;
    text-align: center;
}
.container .btn {
    padding: .5rem;
    width: 100%;
    margin-top: 20px;
}

.footer{
    line-height: 2rem;
    text-align: center;
    margin-top: 2rem;
    background-color: rgb(247, 247, 247);
    height: 300px;
    width: 100%;
    border-top: 1px solid rgb(235, 235, 235) ;
}
.footer .text-footer-info{
    padding-top: 2rem;
    font-size: .8rem;
}
.footer .text-footer-info a{
    text-decoration: none;
    margin-right: 5px;
}
.footer .text-footer-info a:hover{
    text-decoration: underline;
}
.footer .text-footer h9{
    font-size: .8rem;
}